on init
    symlink /dev/block/platform/13540000.dwmmc0/by-name/RADIO /dev/mbin0
    restorecon /dev/mbin0

    write /proc/sys/net/core/netdev_max_backlog 5000

    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet1/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet2/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet3/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet4/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet5/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet6/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet7/queues/rx-0/rps_cpus 6

on post-fs-data
    chown radio radio sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state

    # Log data folder
    mkdir /data/log 0771 radio system
    mkdir /data/vendor 0771 radio system
    mkdir /data/vendor/log 0771 radio system

    # Correcting incorrect permissions that these
    # files have on some devices as shipped
    chown radio radio /efs/nv_data.bin
    chown radio radio /efs/nv_data.bin.md5
    chown radio radio /efs/nv.log
    chown radio radio /efs/.nv_data.bak
    chown radio radio /efs/.nv_data.bak.md5
    chown radio radio /efs/.nv_state

    # These devices are all single SIM
    write /sys/module/modem_ctrl_ss310ap/parameters/ds_detect 1

# Modem boot daemon
service cpboot-daemon /vendor/bin/cbd_note -d -tss310 -bm -mm -P platform/13540000.dwmmc0/by-name/RADIO
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell system
    seclabel u:r:cbd:s0

on property:ril.clatd.v4-rmnet0=up
    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 4
    write /sys/class/net/v4-rmnet0/queues/rx-0/rps_cpus 2

on property:ril.clatd.v4-rmnet1=up
    write /sys/class/net/rmnet1/queues/rx-0/rps_cpus 4
    write /sys/class/net/v4-rmnet1/queues/rx-0/rps_cpus 2

on property:ril.clatd.v4-rmnet2=up
    write /sys/class/net/rmnet2/queues/rx-0/rps_cpus 4
    write /sys/class/net/v4-rmnet2/queues/rx-0/rps_cpus 2

on property:ril.clatd.v4-rmnet3=up
    write /sys/class/net/rmnet3/queues/rx-0/rps_cpus 4
    write /sys/class/net/v4-rmnet3/queues/rx-0/rps_cpus 2

on property:ril.clatd.v4-rmnet4=up
    write /sys/class/net/rmnet4/queues/rx-0/rps_cpus 4
    write /sys/class/net/v4-rmnet4/queues/rx-0/rps_cpus 2

on property:ril.clatd.v4-rmnet5=up
    write /sys/class/net/rmnet5/queues/rx-0/rps_cpus 4
    write /sys/class/net/v4-rmnet5/queues/rx-0/rps_cpus 2

on property:ril.clatd.v4-rmnet6=up
    write /sys/class/net/rmnet6/queues/rx-0/rps_cpus 4
    write /sys/class/net/v4-rmnet6/queues/rx-0/rps_cpus 2

on property:ril.clatd.v4-rmnet7=up
    write /sys/class/net/rmnet7/queues/rx-0/rps_cpus 4
    write /sys/class/net/v4-rmnet7/queues/rx-0/rps_cpus 2
